<!DOCTYPE html>
<html>
<head>
  <title>Catsplurty</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
    <%= stylesheet_link_tag    "application", "http://fonts.googleapis.com/css?family=Lobster"%>
    <%= stylesheet_link_tag    "application", "http://fonts.googleapis.com/css?family=Roboto+Slab:400,700"%>
    <%= stylesheet_link_tag    "application", "http://fonts.googleapis.com/css?family=Roboto+Condensed:400,400italic"%>
    
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>


  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
         <!--  <h4 class="modal-title" id="myModalLabel">Modal title</h4> -->
          <h2>Add to the Cache of Cat Wisdom!</h2>
        </div>
        <%= simple_form_for Quote.new do |f| %>
        <div class="modal-body">
						<%= f.input :saying, :label => "What is the feline wisdom you wish to add?", :placeholder => "Clean black things perfect for fur deposition" %>
           <!--  <%# h(this & that) %> supposed to escape html -->
						<br><br>
						<%= f.input :author, :label => "Name of feline imparter of said wisdom?", :placeholder => "Mr. Snow" %>

        </div>
        <div class="modal-footer">
          <%= f.submit 'save it!', :class => 'btn btn-primary-blk' %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <!-- end Modal -->

	<div class="col-xs-12 col-sm-2"> <div class="logo-kitty">
    <!-- this will let us put thing[s] inside a link -->
       <%= link_to root_path do %>
        <%= image_tag("logo-kitty.png", :alt => "Kitty!", :class => 'img-responsive logo') %>
      <% end %>
     
      </div></div>

	<div  class="col-sm-5 hidden-xs slogan">splurting out unsolicited feline advice since 2014!</div>
	<div class="col-xs-8 col-xs-offset-1  col-sm-4 links">
      <%= link_to 'Add kitty splurt', '#', :data => {:toggle => 'modal', :target => '#myModal'} %>
      <%= link_to 'About', about_path %>
         <!--  col-sm-offset-1
      <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Launch demo modal
      </button> -->
    </div>
</header>
  <hr class="clear">

<div class='container'>	
	 <% if flash[:error].present? %>
      <div class="col-xs-10 col-xs-offset-1 alert alert-danger">
        <%= flash[:error].html_safe %>
      </div>
    <% end %>
	<%= yield %></div>

<div class ='footer'>
	<div class = 'container'>
		<div class="col-xs-12 col-sm-6">
		 <br>
       
			<%= link_to 'Meeeeeow, MINE, more!', root_path %>
        <br>
        
      </div>
      <div class="col-xs-12 col-sm-6 footer-blurb">
      	 <br>
        
        Hacked by the ever so humble human slave to <em>HRH Sheikh Attabiyah Cuddlebutt Snorglesworthy Snugglemeister</em> of Oaktown CA.
        
        <br>
      </div>
	</div>
	
</div>

</body>
</html>
