<!DOCTYPE html>
<html>
<head>
  <title>Catsplurty</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "application", "http://fonts.googleapis.com/css?family=Lobster"%>
    <%= stylesheet_link_tag    "application", "http://fonts.googleapis.com/css?family=Roboto+Slab:400,700"%>
    <%= stylesheet_link_tag    "application", "http://fonts.googleapis.com/css?family=Roboto+Condensed:400,400italic"%>
    
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	<div class="col-xs-2"> <div class="logo-kitty">
      
       
        <%= image_tag("logo-kitty.png", :alt => "Kitty!") %>
      
     
      </div></div>

	<div  class="col-xs-5 slogan">splurting out unsolicited feline advice since 2014!</div>
	<div class="col-xs-5 links">
      <%= link_to 'Contribute', '#' %>
      <%= link_to 'About', '#' %>
    </div>
</header>
  <hr class="clear">
<!-- <br class="cf" bootstrap native>
<br class="clear"> -->
<div class='container'>	<%= yield %></div>

<div class ='footer'>
	<div class = 'container'>
		<div class="col-xs-6">
			<%= link_to "Meeeeow, more!", "#" %>
        
      </div>
      <div class="col-xs-6 footer-blurb">
        Hacked by the ever so humble human of &ldquo;HRH Sheikh Attabiyah Cuddlebutt Snorglesworthy Snugglemeister in Oaktown CA&rdquo;.
      </div>
	</div>
	
</div>

</body>
</html>
